{% extends "themes/base_visitor.html.twig" %}

{% block title %}En attente de la réinitialisation du mot de passe{% endblock %}

{% block description %}En attente de la réinitialisation du mot de passe{% endblock %}

{% block keywords %}Réinitialisation, Mot-de-passe, en-attente{% endblock %}

{% block main %}
    <main>
        <div class="container my-5">
            <div class="row">
                <div class="col-md-10 mx-auto">
                    <p>
                        S'il existe un compte correspondant à votre adresse e-mail, un e-mail vient d'être envoyé contenant un lien que vous pouvez utiliser pour réinitialiser votre mot de passe. 
                        Ce lien expirera dans {{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}.
                    </p>
                    <p>Si vous ne recevez pas d'e-mail, veuillez vérifier votre dossier spam ou <a href="{{ path('visitor.authentication.forgot_password.request') }}">réessayer</a>.</p>
                </div>
            </div>
        </div>
    </main>
{% endblock %}