{% extends "themes/base_visitor.html.twig" %}

{% block title %}Catalogue des produits{% endblock %}

{% block description %}Catlogue des produits: Curseur de riz, Machine à laver...{% endblock %}

{% block keywords %}ElectroTech, Catalogue Produits électroménagers, Curseur de riz, Machine à laver{% endblock %}

{% block main %}
    <h1 class="text-center my-3 display-5">Liste des produits</h1>
{% endblock %}