{% extends "themes/base_visitor.html.twig" %}

{% block title %}Contactez-nous{% endblock %}

{% block description %}Nous sommes disponibles à tout moment...{% endblock %}

{% block keywords %}ElectroTech, Contact, Client...{% endblock %}

{% block main %}
    <h1 class="text-center my-3 display-5">Contact</h1>
{% endblock %}