{% extends "themes/base_visitor.html.twig" %}

{% block title %}Mon panier{% endblock %}

{% block description %}Ajoutez des produits au panier.{% endblock %}

{% block keywords %}ElectroTech, Client, Panier{% endblock %}

{% block main %}
    <h1 class="text-center my-3 display-5">Mon panier</h1>
{% endblock %}