{% extends "themes/base_user.html.twig" %}

{% block title %}Espace client{% endblock %}

{% block description %}ElectroTech, entreprise de ecommerce spécialisée dans la vente de produits electroménagers.{% endblock %}

{% block keywords %}ElectroTech, Qui sommes-nous, Produits électroménagers, Curseur de riz, Machine à laver{% endblock %}

{% block main %}
    <h1 class="text-center my-3 display-5">Hello {{app.user.firstName}}</h1>
{% endblock %}