{% extends "themes/base_visitor.html.twig" %}

{% block title %}En attente de la vérification du compte par email{% endblock %}

{% block description %}En attente de la vérification du compte par email{% endblock %}

{% block keywords %}ElectroTech, Vérification, compte, email, inscription...{% endblock %}

{% block main %}
    <h1 class="text-center my-3 display-5">En attente...</h1>
{% endblock %}